.jumbotron {
    background-color: #99cc00;
    /* background-size: cover; */
    /* height: 20vh; */
    color: white;
    width: 100%;
    height: 100vh;
    padding-top: 25vh;
    text-align: center;
    font-size: 200px;
    
}
